img{
	max-width: 100%;
}


#facebook-wrapper{
	font-family: helvetica, sans-serif;
	/* if we need whole page styles */
}
#header{
	background-color: #3b5998;
	overflow:  hidden;
	width: 100%;
	height: 30px;
	padding: 6px 2px 6px 2px;
	line-height: 25px;

}
#left-header{

}
#header-inner{
	width: 900px;
	margin: auto;
}
#fb-logo{
	height: 24px;
	width: 24px;
	background-image: url('fb_sprite.png');
	background-size: 26px 905px;
	background-position: 0 -163px;
}
#fb-logo, #fb-search{
	float:  left;
	margin-left:  10px;
}
#fb-search input{
	border-radius: 2px;
	width: 393px;
	height: 23px;
	border: none;
}
#right-header{
	float: right;
	font-size: 12px;
}
#right-header div{
	float: left;
}
#small-avatar{
	height: 24px;
	width: 24px;
}
.social-icon{
	height: 24px;
	width: 24px;
	background-image:  url('fb_sprite.png');
	background-size: 26px 905px;
	margin-left: 10px;
}
.friends{
	background-position: 0 -188px;
}
.messages{
	background-position: 0 -338px;

}
.notifications{
	background-position: 0 -238px;

}
.lock {
	background-position:  0 -859px;
	height: 16px;
	margin-left: 10px;
	/*padding-left: 10px;
	border-left: 1px solid #444;*/

}
.down-arrow{
	background-position: 0px -825px;
	height:  16px;

}
.spacer{
	line-height: 24px;
	margin: 0 10px;
}
#cover-photo-wrapper{
	max-width: 900px;
	margin: auto;
	width: 100%;
}
#big-photo{
max-height: 350px;
overflow:  hidden;
}
#big-photo img{
width: 100%;
}
#big-avatar{
	display: inline-block;
	border: 3px solid white;
	border-radius: 2px;
	position: relative;
	z-index: 1;
	left: 21px;
	bottom: 15px;
}
#avatar-name{
	float: left;
	font-size: 24px;
	position: relative;
	left: 44px;
}
#cover-buttons {
	float: right;
	position: relative;
	right: 15px;

}
#cover-buttons button{
	font-weight: bold;
	color: #4b4f56;
	background-color: #f6f7f9;
	border: 1px solid #4b4f56;
	padding: 0 10px 0 10px;
	line-height: 26px;
	border-radius: 1px;

}
#cover-menu{
	clear: both;
	text-align: center;
	width: 100%;
	overflow: hidden;
	background-color: white;
	margin-top: -47px;


}
.cover-menu-item{
	float: left;
	list-style-type: none;
	padding-top: 7px;
	padding-bottom: 7px;
	border-left: 1px solid #E9EBEE;
	border-right: 1px solid #E9EBEE;
	color: #3B5998;
	font-size: 14px;
	font-weight: bold;
	background-color: white;
	width: 10%;
	height: 25px;
	text-align: center;
	line-height: 25px;
	position: relative;
}
.cover-menu-item:hover{
	background-color: #E9EBEE;
}

.cover-menu-item:first-child{
	margin-left: 220px;
}

#cover-photo-right{
	display: inline-block;
	width: 80%;
	position:  relative;
	top: -100px;
}
#cover-photo-lower{
	margin-top: -130px;
}
#avatar-name-top{
	color: white;
	padding-left: 7px;
	padding-right: 7px;
}
#home-link a{
	color: white;
	text-decoration: none;
	padding-left: 1em;
	padding-right: 1em;
}
.bspace{
	padding-right: 101px;

}
body {
	background-color: #E9EBEE;
}













